<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header" class="top-bar row border-bottom border-primary">
  <div class="col-5 text-center">
  	<a href="main">
  		<img src="images/Logo.png" width="200px" height ="50px"/>
  	</a>
  </div>
  <div class="col-5 text-end fs-3">
	<th:block th:if="${session.isLogin}">
  		<a>[[${session.loginNickname}]] 님 어서오세요.</a>
  		<a class="text-decoration-none" href="logout">로그아웃</a>
  		<a class="text-decoration-none" href="myProfile">내정보수정</a>
  	</th:block>
  	<th:block th:unless="${session.isLogin}">
		<a class="text-decoration-none" href="login">로그인</a>
	</th:block>
  </div>
</div>