<!-- templates/fragments/shopHeader.html -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="shopHeader" class="header">
    <div class="d-flex align-items-center">
        <a href="/shopMain" class="logo">Project BoB</a>
        <a href="/shopListMain" class="header-home-link ms-3 fw-semibold">
	        서비스 홈
	    </a>
        <span class="ms-3 fw-semibold page-title-text">
            <span th:text="${pageTitle}">현재 페이지명</span>
        </span>
    </div>
    
    <nav class="d-flex align-items-center">
	    <!-- 로그인 상태일 때 -->
	    <th:block th:if="${session.isLogin}">
	    	<!-- 알림 아이콘 + 뱃지 -->
		      <div id="notifyContainer" 
				      data-shop-id="${currentShop.sId}" 
				      class="position-relative me-3 dropdown">
			  <a href="#" id="headerNotifyBtn" data-bs-toggle="dropdown" aria-expanded="false">
			    <i id="notifyIcon" class="bi bi-bell-fill fs-4"></i>
			  </a>
			  <!-- badge ID -->
			  <span id="header-notif-badge"
			        th:text="${session.notifyCount}"
			        class="badge bg-danger position-absolute top-0 start-100 translate-middle p-1"
			        th:classappend="${session.notifyCount == 0} ? 'd-none' : ''">
			    0
			  </span>
		
		        <!-- 드롭다운 메뉴 -->
				<ul id="header-notif-list" class="dropdown-menu p-2" style="min-width:300px; max-width:500px;" aria-labelledby="headerNotifyBtn">
			    <li><h6 class="dropdown-header">새로운 알림</h6></li>
			    <!-- 초기 “알림이 없습니다.” -->
			    <li class="text-muted mb-0">알림이 없습니다.</li>
			  </ul>
			</div>
      
	      <a class="me-2 fw-bold">[[${session.loginNickname}]] 님 어서오세요.</a>
	      <a href="logout" class="btn-login">로그아웃</a>
	      <a href="myProfile" class="btn-login">내정보수정</a>
	    </th:block>
	    
	    <!-- 비로그인 상태 -->
	    <th:block th:unless="${session.isLogin}">
	      <a href="login?from=owner" class="btn-login">로그인</a>  
	    </th:block>
	    
	    <!-- master 권한일 때만 보이는 관리 링크 -->
	    <th:block th:if="${session.loginDivision == 'master'}">
	    	<a href="faqList" class="btn-register">FAQ관리</a>
	    	<a href="noticeList" class="btn-register">공지사항관리</a>
	    	<a href="userList" class="btn-register">사용자관리</a>
	    	<a href="shopManage" class="btn-register">가게관리</a>
	    </th:block>
    </nav>
    
</header>
</html>