<!-- templates/fragments/shopHeader.html -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="shopHeader" class="header">
    <div class="d-flex align-items-center">
        <a href="/shopMain" class="logo">Project BoB</a>
        <a href="/shopListMain" class="header-home-link ms-3 fw-semibold">
	        서비스 홈
	    </a>
        <span class="ms-3 fw-semibold page-title-text">
            <span th:text="${pageTitle}">현재 페이지명</span>
        </span>
    </div>
    <nav>
        <th:block th:if="${session.isLogin}">
	      <a class="me-2 fw-bold">[[${session.loginNickname}]] 님 어서오세요.</a>
	      <a href="logout" class="btn-login">로그아웃</a>
	      <a href="myProfile" class="btn-login">내정보수정</a>
	    </th:block>
	    <th:block th:unless="${session.isLogin}">
	      <a href="login?from=owner" class="btn-login">로그인</a>  
	    </th:block>
	    <th:block th:if="${session.loginDivision == 'master'}">
	    	<a href="faqList" class="btn-register">FAQ관리</a>
	    	<a href="noticeList" class="btn-register">공지사항관리</a>
	    	<a href="userList" class="btn-register">사용자관리</a>
	    	<a href="shopManage" class="btn-register">가게관리</a>
	    </th:block>
    </nav>
</header>
</html>