<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"		
		layout:decorate="~{layouts/shop_layout}">
	<th:block layout:fragment="content">   
	
		<div class="row my-5" id="global-content">
			<div class="col">
				<div class="row my-3 text-center">
					<div class="col">
						<h2 class="fs-3 fw-bold">메뉴 등록</h2>
					</div>
				</div>
				<form action="insertMenu" name="menuJoinForm" method="post" id="menuJoinForm" enctype="multipart/form-data" >
					<!--  <input type="hidden" name="sId" id="sId" th:value="${session.sId}"/> -->
					<div class="row my-3">
						<div class="col-8 offset-2">
							<label for="sId" class="form-label">* 가게ID(임시) : </label>
							<input type="text" class="form-control" name="sId" id="sId" >
						</div>
					</div>
					<div class="row my-3">
						<div class="col-8 offset-2">
							<label for="category" class="form-label">* 카테고리 : </label>
							<input type="text" class="form-control" name="category" id="category" >
						</div>
					</div>
					<div class="row my-3">
						<div class="col-8 offset-2">
							<label for="name" class="form-label">* 메뉴 이름 : </label>
							<input type="text" class="form-control" name="name" id="name" >
						</div>
					</div>
					<div class="row my-3">
						<div class="col-8 offset-2">
							<label for="price" class="form-label">* 가격 : </label>
							<input type="text" class="form-control" name="price" id="price" >
						</div>
					</div>
					<div class="row my-3">
						<div class="col-8 offset-2">
							<label for="mInfo" class="form-label">* 메뉴 설명 : </label>
							<input type="text" class="form-control" name="mInfo" id="mInfo" >
						</div>
					</div>
					<div class="row my-3">
						<div class="col-8 offset-2">
							<label for="mPicture">* 메뉴 사진 : </label>
              <input type="file" id="mPicture" name="mPicture">
						</div>
					</div>
					
					<div class="row mb-3 mt-5">				
						<div class="col-8 offset-2">
							<input type="submit" value="메뉴 등록하기" class="btn btn-primary">
						</div>
					</div>
				</form>
			</div>
		</div>
	</th:block>		
</html>
