<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/shop_layout}">

<head>
    <meta charset="UTF-8">
    <title>가게 기본 설정</title>
</head>

<body>
    <div layout:fragment="content">
		<div class="row my-3 text-center">
			<div class="col">
				<h2 class="fs-3 fw-bold">기본 설정</h2>
			</div>
		</div>
        <!-- 여기엔 본문 내용만 -->
        <div class="main-content-card card shadow-sm p-4" style="margin-left:8px; min-height:480px;">
            <form method="post" enctype="multipart/form-data" action="/shop/update">
			<input type="hidden" name="s_id" th:value="${shop.sId}" />
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">가게명*</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" class="form-control" th:value="${shop.name}" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">대표자명*</label>
                    <div class="col-sm-10">
                        <input type="text" name="owner" class="form-control" th:value="${shop.owner}" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">사업자등록번호*</label>
                    <div class="col-sm-10">
                        <input type="text" name="s_number" class="form-control" th:value="${shop.sNumber}" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">연락처*</label>
                    <div class="col-sm-10">
                        <input type="text" name="phone" class="form-control" th:value="${shop.phone}" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">가게 주소*</label>
                    <div class="col-sm-10">
                        <input type="text" name="address1" class="form-control" th:value="${shop.address1}" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">상세주소</label>
                    <div class="col-sm-10">
                        <input type="text" name="address2" class="form-control" th:value="${shop.address2}" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">가게사진</label>
                    <div class="col-sm-10">
                        <input type="file" name="s_picture" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">가게 정보</label>
                    <div class="col-sm-10">
                        <input type="text" name="shop_tagline" class="form-control" th:value="${shop.sInfo}" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">공지사항</label>
                    <div class="col-sm-10">
                        <textarea name="shop_description" class="form-control" rows="3" th:text="${shop.notice}"></textarea>
                    </div>
                </div>


                <button type="submit" class="btn btn-success">저장</button>
            </form>
        </div>

    </div>
</body>
</html>
