<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/shop_layout}">
<head>
    <meta charset="UTF-8">
    <title>가게 정보 없음</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="main-empty-box mt-4 text-center">
            <p class="mt-3">아직 등록된 가게가 없습니다.</p>
            <div class="mt-4">
                <a th:if="${session.isLogin}" 
                   th:href="@{/shopJoinForm}" 
                   class="btn btn-primary">가게 등록하기</a>
                <a th:unless="${session.isLogin}" 
                   th:href="@{/login}" 
                   class="btn btn-primary">가게 등록하기</a>
            </div>
        </div>
    </div>
</body>
</html>
