<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/shop_layout}">
<head>
  <meta charset="UTF-8">
  <title>사장님 공지</title>
  <link rel="stylesheet" href="/css/shopLayout.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

  <div layout:fragment="content">
    <div class="content-card">
      <h2 class="text-center fw-bold mb-4">가게 공지</h2>
	  <form th:action="@{/shopNotice}" method="post" th:object="${shop}">
	        <input type="hidden" name="s_id" th:value="${shop.sId}" />

	        <div class="mb-3">
	          <label for="notice" class="form-label">공지 내용</label>
	          <textarea id="notice" name="notice" rows="4" class="form-control"
	                    th:text="${shop.notice}"></textarea>
	        </div>
			<div class="d-flex justify-content-end">
				<button type="submit" name="action" value="notice" class="btn btn-success me-2">
		          공지 저장
		        </button>
			</div>
<!-- 
	        <div class="mb-3">
	          <label for="s_info" class="form-label">가게 정보</label>
	          <textarea id="s_info" name="s_info" rows="4" class="form-control"
	                    th:text="${shop.sInfo}"></textarea>
	        </div>
	        <div class="d-flex justify-content-end">
		        <button type="submit" name="action" value="info" class="btn btn-success me-2">
		          가게정보 저장
		        </button>
	        </div>
 -->	        
          	<div class="mb-3">
		    	<label for="minPrice" class="form-label">주문 최소 금액</label>
		    	<input id="minPrice" name="minPrice" type="number" class="form-control"
		           	th:value="${shop.minPrice}" placeholder="예: 10000" />
		  	</div>
		  	<div class="d-flex justify-content-end">
		    	<button type="submit" name="action" value="minPrice" class="btn btn-success me-2">
		      	최소 금액 저장
		    	</button>
		  	</div>
	      </form>
	  </div>
  </div>

</body>
</html>
