<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">
<head>
    <title>결제 완료</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="complete-box text-center my-4">
            <h3 class="mb-3 text-success fw-bold">🎉 결제가 완료되었습니다!</h3>
            <p>주문번호 <strong th:text="${order.orderId}">#A20250704</strong>로 주문이 정상적으로 접수되었습니다.</p>
            <hr />
            <h5 class="text-start">주문 정보</h5>
            <ul class="list-group text-start mb-3">
                <li class="list-group-item">가게명: 
                	<strong th:text="${order.shopName}">맥도날드 - 신림점</strong></li>
                <li class="list-group-item">
                	<span th:text="${order.menus}">메뉴: 더블 맥스파이시® 상하이 버거 세트 x 1</span></li>
                <li class="list-group-item">
                	<span>결제 금액: </span>
                	<span th:text="${order.totalPrice} + '원'">결제금액: 12,200원</span></li>
                <li class="list-group-item">배달비: 3,000원</li>
                <li class="list-group-item">총 결제금액: 
                	<strong th:text="${#numbers.formatInteger(order.totalPrice + 3000, 0, 'COMMA')} + '원'">15,200원</strong></li>
            </ul>

            <h5 class="text-start">배송 정보</h5>
            <ul class="list-group text-start mb-4">
                <li class="list-group-item">배달 주소: 
                	<span th:text="${order.address}">주소 정보 없음</span></li>
                <li class="list-group-item">전화번호: 
                	<strong th:text="${order.phone}">전화번호 없음</strong></li>
                <li class="list-group-item">요청사항: 
                	<span th:text="${order.request}">요청사항 없음</span></li>
            </ul>

            <a href="/" class="btn btn-success px-4">다른 메뉴 보러가기</a>
        </div>
    </div>
</body>
</html>
