<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"		
		layout:decorate="~{layouts/main_layout}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="content">
	<!-- 배경 + 검색 -->
	<div class="search-box">

		<p style="color: black;">배달받으실 주소 또는 건물명을 검색해주세요</p>
		<div class="d-flex justify-content-center mt-2">
			<button class="btn text-white me-2 d-flex align-items-center"
				style="background-color: #43d091;">
				<img src="https://img.icons8.com/ios-filled/24/000000/marker.png"
					alt="위치" class="me-1" />
			</button>
			<input type="text" class="form-control w-25 me-2"
				placeholder="서울특별시 관악구...">
			<button class="btn text-dark fw-semibold"
				style="background-color: #43d091">검색</button>
		</div>
	</div>

	<!-- 카테고리 -->
<div class="container my-4">
  <div class="row g-3">
    <!-- 1 -->
    <div class="col-6 col-md-3">
      <div class="category-card" style="background-image: url('images/category-01.png');">
        <div class="category-title">전체보기</div>
      </div>
    </div>
    <!-- 2 -->
    <div class="col-6 col-md-3">
      <div class="category-card" style="background-image: url('images/category-02.png');">
        <div class="category-title">1인분 주문</div>
      </div>
    </div>
    <!-- 3 -->
    <div class="col-6 col-md-3">
      <div class="category-card" style="background-image: url('images/category-03.png');">
        <div class="category-title">프랜차이즈</div>
      </div>
    </div>
    <!-- 4 -->
    <div class="col-6 col-md-3">
      <div class="category-card" style="background-image: url('images/category-04.png');">
        <div class="category-title">치킨</div>
      </div>
    </div>
    <!-- 5 -->
    <div class="col-6 col-md-3">
      <div class="category-card" style="background-image: url('images/category-05.png');">
        <div class="category-title">피자/양식</div>
      </div>
    </div>
    <!-- 6 -->
    <div class="col-6 col-md-3">
      <div class="category-card" style="background-image: url('images/category-06.png');">
        <div class="category-title">중국집</div>
      </div>
    </div>
    <!-- 7 -->
    <div class="col-6 col-md-3">
      <div class="category-card" style="background-image: url('images/category-07.png');">
        <div class="category-title">한식</div>
      </div>
    </div>
    <!-- 8 -->
    <div class="col-6 col-md-3">
      <div class="category-card" style="background-image: url('images/category-08.png');">
        <div class="category-title">일식/돈가스</div>
      </div>
    </div>
    <!-- 9 -->
    <div class="col-6 col-md-3">
      <div class="category-card" style="background-image: url('images/category-09.png');">
        <div class="category-title">족발/보쌈</div>
      </div>
    </div>
    <!-- 10 -->
    <div class="col-6 col-md-3">
      <div class="category-card" style="background-image: url('images/category-10.png');">
        <div class="category-title">야식</div>
      </div>
    </div>
    <!-- 11 -->
    <div class="col-6 col-md-3">
      <div class="category-card" style="background-image: url('images/category-11.png');">
        <div class="category-title">분식</div>
      </div>
    </div>
    <!-- 12 -->
    <div class="col-6 col-md-3">
      <div class="category-card" style="background-image: url('images/category-12.png');">
        <div class="category-title">카페/디저트</div>
      </div>
    </div>
    <!-- 13 -->
    <div class="col-6 col-md-3">
      <div class="category-card" style="background-image: url('images/category-13.png');">
        <div class="category-title">편의점/마트</div>
      </div>
    </div>
  </div>
</div>

</th:block>	
</html>