/* main.css */
body {
	background-color: #f9f9f9;
}

.top-bar {
	background-color: #43d091;
	color: white;
	padding: 10px 0;
}

.top-bar a {
	color: white;
	text-decoration: none;
	margin-right: 15px;
}

.search-box {
	background-image: url('https://images.deliveryhero.io/image/foodpanda/bg/bg_header.jpg');
	background-size: cover;
	background-position: center;
	height: 220px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 20px;
}

.category-card {
	aspect-ratio: 1/1;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.category-title {
	position: absolute;
	top: 0.4rem;
	left: 0.5rem;
	font-size: 0.8rem;
	font-weight: 600;
	color: #000; /* 검정색 */
	z-index: 2;
}

.category-image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 0.25rem;
}

.footer {
	font-size: 0.9rem;
	color: gray;
	padding: 20px 0;
	border-top: 1px solid #ddd;
}