<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"		
		layout:decorate="~{layouts/main_layout}">
<th:block layout:fragment="content">
<script th:src="@{js/faq.js}"></script>
	<form name = "createCouponForm" id = "createCouponForm" method = "post" action="createCoupon">
		<div class="row mt-5">
			<div class="col-3 text-center">
				<h3>대상 :</h3>
			</div>
			<div class="col-7">
				<select class="form-select form-select-lg mb-3" name="id" id="id">
				<option value="전체">모든 고객</option>
				<th:block th:each="member, status: ${memberList}">
					<option th:value="${member.id}">[[${member.id}]]([[${member.name}]])</option>
				</th:block>
			</select>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-3 text-center">
				<h3>쿠폰명 :</h3>
			</div>
			<div class="col-7">
				<input class="form-control form-control-lg" name="name" id="name" type="text" placeholder="쿠폰명을 작성해주세요.">
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-3 text-center">
				<h3>쿠폰설명 :</h3>
			</div>
			<div class="col-7">
				<textarea class="form-control" name="content" id="content" style="height: 300px" placeholder="쿠폰을 설명해주세요."></textarea>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-3 text-center">
				<h3>할인가 :</h3>
			</div>
			<div class="col-7">
				<input class="form-control form-control-lg" name="disPrice" id="disPrice" type="number" placeholder="할인가를 작성해주세요.">
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-3 text-center">
				<h3>최소금액 :</h3>
			</div>
			<div class="col-7">
				<input class="form-control form-control-lg" name="minPrice" id="minPrice" type="number" placeholder="최소금액을 작성해주세요.">
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-3 text-center">
				<h3>적용 시작일 :</h3>
			</div>
			<div class="col-7">
				<input class="form-control" type="date" name="start" id="start">
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-3 text-center">
				<h3>적용 만료일 :</h3>
			</div>
			<div class="col-7">
				<input class="form-control" type="date" name="end" id="end">
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-10 text-center">
				<input class="btn btn-secondary btn-lg" type="submit" value="발급하기">
			</div>

		</div>
	</form>
</th:block>
</html>