<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"		
		layout:decorate="~{layouts/main_layout}">
<th:block layout:fragment="content">
<script th:src="@{js/faq.js}"></script>

<div class ="container border">
	<th:block th:if="${session.loginDisivion == 'master'}">
		<div class="row mt-2">
			<div class="col-12 text-end ">
				<a th:href="@{writeNoticeForm}" class="btn btn-success">공지작성</a>
			</div>
		</div>
	</th:block>
					
</div>

</th:block>
</html>