<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.projectbob.mapper.CustomerServiceMapper" >

<insert id="writeFAQ" parameterType="CustomerService">
	INSERT INTO customerservice(type, title, content, reg_date)
	VALUES(#{type}, #{title}, #{content}, SYSDATE())
</insert>

<select id="FAQList" resultType="CustomerService">
	SELECT *
	FROM customerservice
	<where>
		<if test="type == '주문'">
				type = "주문"
		</if>
		<if test="type == '서비스'">
				type = "서비스"
		</if>
		<if test="type == '회원정보'">
				type = "회원정보"
		</if>
		<if test="type == '결제'">
				type = "결제"
		</if>
		<if test="type == '리뷰'">
				type = "리뷰"
		</if>
		<if test="type == '기타'">
				type = "기타"
		</if>	
	</where>
</select>

<select id="getFAQ" resultType="customerService">
	SELECT *
	FROM customerservice
	WHERE cs_no = #{csNo}
</select>

<update id="updateFAQ" parameterType="CustomerService">
	UPDATE customerservice
	SET title = #{title} , content = #{content}, type = #{type} , reg_date=SYSDATE()
	WHERE cs_no = #{csNo}
</update>

<delete id="deleteFAQ">
	DELETE FROM customerservice
	WHERE cs_no = #{csNo}
</delete>

<insert id="writeNotice" parameterType="NoticeBoard">
	INSERT INTO noticeboard(title, content, startday, endday, division, reg_date, modi_date)
	VALUES (#{title}, #{content}, #{startDay}, #{endDay}, #{division}, SYSDATE(), SYSDATE())
</insert>

<select id="noticeList" resultType="NoticeBoard">
	SELECT *
	FROM noticeboard
	<where>
		<if test = "userDivision == 'client'">
			division in ('all', 'client')
			AND SYSDATE() BETWEEN startday AND endday
		</if>
		<if test = "userDivision == 'owner'">
			division in ('all', 'owner')
			AND SYSDATE() BETWEEN startday AND endday
		</if>
		<if test = "userDivision == 'master'">
			division in ('all', 'client' ,'owner', 'none')
		</if>
	</where>
	ORDER BY startDay DESC , no DESC
</select>

<select id="getNotice" resultType="NoticeBoard">
	SELECT *
	FROM noticeboard
	WHERE no = #{no}
</select>

<update id="updateNotice" parameterType="noticeBoard">
	UPDATE noticeboard
	SET title = #{title}, content = #{content}, startday = #{startDay}, endday = #{endDay}, division = #{division}, modi_date = SYSDATE()
	WHERE no = #{no}
</update>

<delete id="deleteNotice">
	DELETE FROM noticeboard
	WHERE no = #{no}
</delete>

<select id="shopManageList" resultType="shop">
	SELECT *
	FROM shop
	<where>
		<if test = "searchShop == 'sNumber' and keyword != ''">
			s_number like CONCAT('%',#{keyword},'%')
		</if>
		<if test = "searchShop == 'owner' and keyword != ''">
			owner like CONCAT('%',#{keyword},'%')
		</if>
		<if test = "searchShop == 'name' and keyword != ''">
			name like CONCAT('%',#{keyword},'%')
		</if>
	</where>
</select>

<update id="updateShopManage">
	UPDATE  shop
	SET category = #{category} , status = #{status} , modi_date = SYSDATE()
	WHERE s_id = #{sId}
</update>

<insert id="insertChatMessage" parameterType="chatMessage">
	INSERT INTO chat_messages (id, role, message, reg_date, modi_date) 
	VALUES (#{id}, #{role}, #{message}, SYSDATE(), SYSDATE())
</insert>

<select id="getChatMessage" resultType="ChatMessage">
	SELECT *
	FROM  chat_messages
	WHERE id = #{id}
	ORDER BY reg_date ASC
</select>

<select id="getMyAddress">
	SELECT * 
	FROM addressbook
	WHERE id = #{id}
</select>

<insert id="addAddress" parameterType="Addressbook">
	INSERT INTO addressbook(id, a_name, address1, address2, reg_date, modi_date)
	VALUES (#{id}, #{aName}, #{address1}, #{address2}, SYSDATE(), SYSDATE())
</insert>

<select id="getAddress">
	SELECT * 
	FROM addressbook
	WHERE no = #{no}
</select>

<update id="updateAddress" parameterType="Addressbook">
	UPDATE addressbook
	SET a_name=#{aName}, address1 = #{address1}, address2 = #{address2}, modi_date = SYSDATE()
	WHERE id = #{id}
	AND no = #{no}
</update>

<delete id="deleteAddress">
	DELETE FROM addressbook
	WHERE id = #{id}
	AND no = #{no}
</delete>

<select id="getLikeList" resultType="Shop">
	SELECT s.*
	from shop s, likelist l
	where s.s_id = l.s_id
	and l.id = #{id}
	and l.status = 'Y'
</select>

<delete id="cancleLike">
	DELETE FROM likelist
	WHERE id = #{id}
	AND s_id = #{sId}
</delete>

<update id="decreaseShopLike">
	UPDATE shop
	SET heart = heart - 1
	WHERE s_id = #{sId}
</update>

<select id="couponList" resultType="coupon">
	SELECT *
	FROM coupon
	<where>
		<if test = "searchCoupon == 'id' and keyword != ''">
			id like CONCAT('%',#{keyword},'%')
		</if>
		<if test = "searchCoupon == 'name' and keyword != ''">
			name like CONCAT('%',#{keyword},'%')
		</if>
	</where>
</select>

<insert id="createCoupon" parameterType="coupon">
	INSERT INTO coupon(id, name, content, dis_price, min_price, reg_date, modi_date, del_date)
	VALUES (#{id}, #{name}, #{content}, #{disPrice}, #{minPrice}, #{regDate}, SYSDATE(), #{delDate})
</insert>

<select id="getCoupon" resultType="coupon">
	SELECT *
	FROM coupon
	WHERE c_no = #{cNo}
</select>

<delete id="deleteCoupon">
	DELETE FROM coupon
	WHERE c_no = #{cNo}
</delete>

<update id="updateCoupon" parameterType="coupon">
	UPDATE coupon
	SET id = #{id}, name = #{name}, content = #{content}, dis_price = #{disPrice}, min_price = #{minPrice}, reg_date = #{regDate}, del_date = #{delDate}, modi_date = SYSDATE()
	WHERE c_no = #{cNo}
</update>

<select id="myCoupon" resultType="coupon">
	select * 
	from coupon
	where id = #{id}
	AND SYSDATE() BETWEEN reg_date AND del_date
</select>
</mapper>	


