<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.projectbob.mapper.LoginMapper" >
<insert id="joinMember" parameterType="Member">
	INSERT INTO client(id, pass, name, nickname, birthday, address1, address2, email, phone, division, reg_date, modi_date) 
	VALUES (#{id}, #{pass}, #{name}, #{nickname}, #{birthday}, #{address1}, #{address2}, #{email}, #{phone}, #{division}, SYSDATE(), SYSDATE())
</insert>

<select id="getMember" resultType="Member">
	SELECT *
	FROM client
	WHERE id = #{id}
</select>

<update id="updateMember" parameterType="Member">
	UPDATE client
	SET pass=#{pass}, nickname=#{nickname}, address1 = #{address1}, address2=#{address2}, email = #{email}, phone = #{phone}, modi_date = SYSDATE()
	WHERE id = #{id}
</update>

<delete id="deleteMember">
	DELETE FROM client
	WHERE id = #{id}
</delete>

<select id="searchId">
	SELECT id 
	FROM client
	WHERE name = #{name}
	<if test="receive == 'email'">
		and email = #{email}
	</if>
	<if test="receive == 'phone'">
		and phone = #{phone}
	</if>
</select>

<select id="searchPassword">
	SELECT pass
	FROM client
	WHERE  id = #{id}
	and    name = #{name}
	<if test="receive == 'email'">
		and email = #{email}
	</if>
	<if test="receive == 'phone'">
		and phone = #{phone}
	</if>
</select>

<select id="userList" resultType="Member">
	SELECT *
	FROM client
	<where>
    	<if test="division != null and division != ''">
        	division = #{division}
    	</if>
    	<if test="keyword != null and keyword != ''">
        	AND id LIKE CONCAT('%', #{keyword}, '%') 
    	</if>
</where>
	ORDER BY division, id
</select>

<update id="updateIsuse">
	UPDATE client
	SET isuse = #{isuse}
	WHERE id = #{id}
</update>

<select id="getMyAddress">
	SELECT * 
	FROM addressbook
	WHERE id = #{id}
</select>

<insert id="addAddress" parameterType="Addressbook">
	INSERT INTO addressbook(id, a_name, address1, address2, reg_date, modi_date)
	VALUES (#{id}, #{aName}, #{address1}, #{address2}, SYSDATE(), SYSDATE())
</insert>

<select id="getAddress">
	SELECT * 
	FROM addressbook
	WHERE no = #{no}
</select>

<update id="updateAddress" parameterType="Addressbook">
	UPDATE addressbook
	SET a_name=#{aName}, address1 = #{address1}, address2 = #{address2}, modi_date = SYSDATE()
	WHERE id = #{id}
	AND no = #{no}
</update>

<delete id="deleteAddress">
	DELETE FROM addressbook
	WHERE id = #{id}
	AND no = #{no}
</delete>
</mapper>	



