<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.projectbob.mapper.ShopMapper" >

	<!-- 메뉴 등록 -->
	<insert id="insertMenu" parameterType="Menu" useGeneratedKeys="true" keyProperty="mId">
		INSERT INTO menu(s_id, category, name, price, m_info, m_pictureURL, reg_date) 
		VALUES(#{sId}, #{category}, #{name}, #{price}, #{mInfo}, #{mPictureUrl}, SYSDATE())
	</insert>

	<!-- 가게 등록 -->
	<insert id="insertShop" parameterType="Shop" useGeneratedKeys="true" keyProperty="sId">
		INSERT INTO shop(id, name, phone, zipcode, address1, address2, owner, s_number, s_licenseURL, reg_date) 
		VALUES(#{id}, #{name}, #{phone}, #{zipcode}, #{address1}, #{address2}, #{owner}, #{sNumber}, #{sLicenseURL}, SYSDATE())
	</insert>
	
	<!-- 가게리스트 불러오기 -->
	<select id="shopList" resultType="Shop">
		SELECT * From shop
	</select>
	
	<!-- 가게정보 불러오기 -->
	<select id="findByOwnerId" resultType="com.projectbob.domain.Shop">
	    SELECT *
	    FROM shop
	    WHERE id = #{ownerId}
	</select>
	
	<!-- 가게 유무 확인 후 보여주기 -->
	<select id="findShopListByOwnerId" resultType="com.projectbob.domain.Shop">
	    SELECT *
	    FROM shop
	    WHERE id = #{ownerId}
	    ORDER BY reg_date DESC
	</select>
	
</mapper>	
