<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"		
		layout:decorate="~{layouts/main_layout}">
<th:block layout:fragment="content">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{js/login.js}"></script>
<link th:href="@{/css/login.css}" rel="stylesheet" />

<div class="container my-5">
	<div class="card shadow-sm mb-2 p-3 text-start">
		<div class="mb-5 d-flex justify-content-between align-items-center">
			<h4 class="mb-0">✅ 나의 주문내역</h4>
		</div>
		
		<th:block th:unless="${#lists.isEmpty(orderList)}">
		  <th:block th:each="order, status: ${orderList}">
		  	<div class="address-card">
				<div class="row mb-1">
			      	<div class="col-9 text-start">
			      		<div class="title-and-btn">
				      		<a class="addressbook-title">* [[${order['shopName']}]]  - [[${order['address']}]]</a>  
				      		<th:block th:unless="${order['hasReview']}">&nbsp <input class="btn myrv-btn-success" type="button" value="리뷰작성" th:onclick="|location.href='@{/MenuDetail(sId=${order.sId})}'|"></th:block>
				      	</div>
			      	</div>			
			      	<div class="col-3 text-end">
			      		<span class="span-address1">[[${#dates.format(order['regDate'], 'yyyy-MM-dd HH:mm')}]] (결제 : [[${order['payment']}]])</span>
			      	</div>								 
			   </div>
			
			    <div class="receipt-box">
				  <th:block th:each="menuItem : ${order.parsedMenus}">
					  <div class="row mb-1">
					    <div class="col-6">
					      [[${menuItem.menu}]]
					    </div>
					    <div class="col-3 text-end">[[${menuItem.count}]]</div>
					    <div class="col-3 text-end">
					      [[${#numbers.formatInteger(menuItem.menuPrice * menuItem.count , 0, 'COMMA')}]] 원
					    </div>
					  </div>
					  <div class="row mb-1 text-muted small align-items-center" th:if="${menuItem.option != ''}">
					    <div class="col-6">↳ [[${menuItem.option}]]</div>
					    <div class="col-3 text-end"></div>
					    <div class="col-3 text-end">
					      [[${#numbers.formatInteger(menuItem.optionPrice , 0, 'COMMA')}]] 원
					    </div>
					  </div>
					</th:block>
					
					 <div class="row border-top mt-3 pt-2 fw-bold">
					    <div class="col-6">합계</div>
					    <div class="col-3 text-end"></div>
					    <div class="col-3 text-end">
					      [[${#numbers.formatInteger(order['price'] , 0, 'COMMA')}]] 원
					    </div>
					 </div>
				</div>
				
		    </div>
		  </th:block>
		</th:block>
		
		<th:block th:if="${#lists.isEmpty(orderList)}">
			<div class="my-2 border">
				등록된 주문이 없습니다.
			</div>
		</th:block>
	
	</div>
</div>
</th:block>
</html>