<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"		
		layout:decorate="~{layouts/main_layout}">
<th:block layout:fragment="content">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{js/login.js}"></script>
<link th:href="@{/css/login.css}" rel="stylesheet" />

<div class="container my-5">
	<div class="card shadow-sm mb-2 p-3 text-start">
		<div class="mb-5 d-flex justify-content-between align-items-center">
			<h4 class="mb-0">✅ 나의 리뷰</h4>
		</div>
		
		<th:block th:unless="${#lists.isEmpty(reviewList)}">
		  <th:block th:each="review, status: ${reviewList}">
		  	<div class="address-card" th:onclick="|location.href='@{/MenuDetail(sId=${review['s_id']})}'|">
				<div class="row mb-1">
			      	<div class="col-7 text-start">
			      		<a class="addressbook-title">* [[${review['name']}]]</a>	
			      	</div>			
			      	<div class="col-5 text-end">
			      		<span class="span-address1">평점 : [[${review['rating']}]]</span>
			      	</div>								 
			   </div>	
			   <div class="mb-1">
			        <span class="span-address1">[[${review['content']}]]</span>
			   </div>
			</div>
		    
		  </th:block>
		</th:block>
		
		<th:block th:if="${#lists.isEmpty(reviewList)}">
			<div class="my-2 border">
				등록된 리뷰가 없습니다.
			</div>
		</th:block>
	
	</div>
</div>
</th:block>
</html>